@import "../../common.scss";

.layout {
    margin-top: $nav-size;
    padding: 0 $side-padding $side-padding $side-padding;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .layout {
        margin-top: 0;
        padding: $side-padding;
    }
}