@import "../../common.scss";

.newsContainer {

    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    img {
        width: 100%
    }

    h5 {
        margin: 0;
    }

    h1{
        margin-bottom: 0;
    }
}